{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% block content %}
  <div class="container jumbotron">
    <div class="row">
      <ul>
      <h3 class="text-success text-center">Your Order is Successful !!!!!</h3>
      <h5 class="text-primary text-center">Your order will deliver with in 5 - 10 working days</h5>
      <h5 class="alert alert-danger text-center">Cash On Delivery [COD]</h5>
      </ul>
     </div>
      <br>
      <hr>
      <h4 class="text-success text-center"> Thank You !! </h4>
      <br>
  </div>
{% endblock %}